.chat-page {
  background-image: url(../img/question-page-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  overflow: hidden;
}

.chat-container__frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  border: 2px solid #3c4043;
  padding-bottom: 24px;
}

.chat-container__frame[data-bot-name="Chef"]::before {
  margin-top: -70px;
  background: url(../img/chef.png) no-repeat;
}

.chat-container__frame[data-bot-name="Maid"]::before {
  margin-top: -45px;
  background: url(../img/maid.png) no-repeat;
  background-size: 100%;
}

.chat-container__frame[data-bot-name="Butler"]::before {
  margin-top: -80px;
  background: url(../img/butler.png) no-repeat;
}

.chat-container__frame[data-bot-name]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100%;
}

.chat-container__frame__bot-name {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  padding-right: 50px;
  text-align: right;
  background: #000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chat-container__frame__messages {
  flex: 1;
  font-family: 'Spectral', serif;
  font-size: 14px;
  overflow-y: auto;
}

.chat-container__frame__messages,
.chat-container__frame__input-container {
  margin-left: 24px;
  margin-right: 24px;
}

.chat-container__frame__message-list {
  padding: 0;
  list-style-type: none;
}

@-webkit-keyframes chat-frame-message-waiting {
  0 {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes chat-frame-message-waiting {
  0 {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.chat-container__frame__message-list__message-waiting {
  transform: scale(2);
}

.chat-container__frame__message-list__message-waiting > span {
  animation: chat-frame-message-waiting 1.4s infinite;
  animation-fill-mode: both;
}

.chat-container__frame__message-list__message-waiting > span:nth-child(2) {
  animation-delay: 0.2s;
}

.chat-container__frame__message-list__message-waiting > span:nth-child(3) {
  animation-delay: 0.4s;
}

.chat-container__frame__message-list__message-text {
  border-radius: 50px;
  padding: 10px 25px;
  display: inline-block;
  position: relative;
}

.chat-container__frame__message-list__message-text .bubble-point {
  bottom: -10px;
  position: absolute;
}

.chat-container__frame__message-list__message {
  margin-bottom: 10px;
}

.chat-container__frame__message-list__message--bot {
  margin-right: 55px;
}

.chat-container__frame__message-list__message--bot
.chat-container__frame__message-list__message-text {
  background-color: #fff;
  color: #000;
}

.chat-container__frame__message-list__message--bot
.chat-container__frame__message-list__message-text .bubble-point {
  color: #fff;
  left: 25px;
  transform: rotateY(180deg);
}

.chat-container__frame__message-list__message--player
.chat-container__frame__message-list__message-text .bubble-point {
  color: #2f80ed;
  right: 25px;
}

.chat-container__frame__message-list__message--player {
  margin-left: 55px;
  text-align: right;
}

.chat-container__frame__message-list__message--player
.chat-container__frame__message-list__message-text {
  background-color: #2f80ed;
  color: #fff;
}

.chat-container__frame__input-container {
  display: flex;
  z-index: 1;
}

.chat-container__frame__form {
  display: flex;
  width: 100%;
}

.chat-container__frame__input {
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}

.chat-container__frame__send-question-button {
  font-size: 0;
  border: none;
  background: none;
  color: #fff;
}

.chat-container__frame__send-question-button:not([disabled]) {
  cursor: pointer;
}

.chat-container__frame__send-question-button::before {
  content: url(../img/send-message.svg);
}
