.dialog-host {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.dialog-host .dialog:not(.open) {
  display: none;
}

.dialog-host .dialog.open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 70px;
}
