.dialog.incomplete-solution.open {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dialog.incomplete-solution .container {
  background: #fff;
  border-radius: 10px;
  padding: 75px 85px 75px 105px;
}

.dialog.incomplete-solution .subject {
  font-weight: 900;
  font-size: 24px;
}

.dialog.incomplete-solution .comm-link-open {
  color: #5f6368;
}
