.dialog.map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__image-container {
  margin: auto 0;
  background: #fdf2de;
  border: 10px solid #fdf2de;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.map__image {
  border-radius: 10px;
  display: block;
  width: 100%;
}
