.nav-buttons {
  display: flex;
  justify-content: center;
  position: relative;
}


.nav-buttons__button-group {
  display: flex;
}

.nav-buttons__button-group--help-how {
  position: absolute;
  right: 0;
}
