<header class="header">
    <h1 class="header-text">
        How to solve
    </h1>
</header>
<div class="content">
    <div class="bot-portraits">
        <div class="portrait butler">
            <img src="../../assets/images/butler.png" alt="Image of the Butler bot" />
        </div>
        <div class="portrait maid">
            <img src="../../assets/images/maid.png" alt="Image of the Maid bot" />
        </div>
        <div class="portrait chef">
            <img src="../../assets/images/chef.png" alt="Image of the Chef bot" />
        </div>
    </div>
    <p>
        Crack the case by interviewing the three robot servants: the Butler, the Maid and the Chef.
    </p>
    <p>
        Interview the robots and find out:    
    </p>
    <ol>
        <li>
            Who stole the diamond?
        </li>
        <li>
            What room it is hidden in?
        </li>
        <li>
            What container it is in?
        </li>
    </ol>
    <div>
        To solve the case, hit the [SOLVE] Button
    </div>
    <div>
        To see a map of the house, hit the [MAP] button
    </div>
    <div>
        To see the police notes, hit the [POLICE NOTES] button
    </div>
    <p>
        Click the bot you want to question, then type the question.
    </p>
    <div>
        Example Queries:
        <div>
            - What happened during dinner?
        </div>
        <div>
            - Where were you during cocktails?
        </div>
        <div>
            - What was for dinner?
        </div>
    </div>
    <p>
        Get on it, Detective!
    </p>
</div>
<div class="close-button">
    <app-dialog-close-button></app-dialog-close-button>
</div>
