<h3 class="header">
    OPEN CASE: MacGuffin Diamond - STOLEN
</h3>
<div class="columns">
    <div class="column">
        <p class="intro">
            Crack the case by interviewing the three robot servants -- the Butler, the Maid and the Chef.
        </p>
        <p>
            Interview the robots and find out:
        </p>
        <ol>
            <li>who stole the diamond</li>
            <li>what room it is hidden in</li>
            <li>what container it is in</li>
        </ol>
        <p>
            To solve the case, hit the SOLVE Button
        </p>
        <p>
            To see a map of the house, hit the MAP button
        </p>
        <p>
            To see the police notes, hit the POLICE NOTES button
        </p>
    </div>
    <div class="column">
        <h4>
            Click the bot you want to question, then type the question.
        </h4>
        <p>
            Examples:
        </p>
        <p>
            What happened during dinner?
            <br />
            Where were you during cocktails?
            <br/>
            What was for dinner?
        </p>
        <p>
            Get on it, detective!
        </p>
    </div>
</div>
