:host {
    background-color: #000;
    color: #fff;
    padding: 128px 168px;
    display: block;

    .header {
        margin-bottom: 32px;
    }
    
    .header-text {
        margin: 0;
        font-family: Smythe, sans-serif;
        font-size: 48px;
        font-weight: normal;
    }
}
