<div class="notebook">
    <div class="notebook-page">
        <h3 class="page__header">
            Rooms
        </h3>
        <ul class="list one-line">
            <li class="list__item">Living Room (Welcoming)</li>
            <li class="list__item">Office (unused?)</li>
            <li class="list__item">Dining Room (Dinner)</li>
            <li class="list__item">Study (Speech)</li>
            <li class="list__item">Kitchen (unused?)</li>
        </ul>
        <h3 class="page__header">
            Events
        </h3>
        <ul class="list one-line">
            <li class="list__item">Welcoming (Maid, Butler)</li>
            <li class="list__item">Speech (Maid, Butler)</li>
            <li class="list__item">Cocktails (Butler)</li>
            <li class="list__item">Dinner (Maid, Butler)</li>
            <li class="list__item">Call to Police (unseen)</li>
        </ul>
    </div>
    <div class="notebook-page">
        <ul class="list">
            <li>Col Gold reported the diamond missing during dinner.</li>
            <li>The glass case it was in was smashed.</li>
            <li>The Colonel called the police on his cell phone.</li>
            <li>All guests refused to speak to the police and retained lawyers.</li>
            <li>The robots know a lot about the house.</li>
            <li>The robots do not know who actually took the diamond or where it is now.</li>
        </ul>
    </div>
</div>
