@import '../../styles/buttons';

:host {
    color: #fff;
    max-width: 992px;
    background-color: #000;
    display: block;
    padding: 20px;
    position: relative;

    .butler-image {
        position: absolute;
        right: -50px;
        bottom: -216px;
        transform: rotateY(180deg);
        height: 100%;
    }

    .header {
        font-family: Smythe, sans-serif;
        margin-bottom: 32px;
    }
    
    .header-text {
        font-size: 48px;
        font-weight: normal;
        margin: 0;
    }

    .text {
        font-size: 18px;
    }

    .link {
        color: #8ab4f8;

        &,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }
}