@import '../../styles/buttons';

:host {
    color: #fff;
    max-width: 992px;
    background-color: #000;
    display: block;
    padding: 202px 168px;
    position: relative;

    &::before {
        content: "";
        background-image: url('../../assets/images/butler.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotateY(180deg);
        display: block;
        height: 534px;
        width: 287px;
        position: fixed;
        right: 0;
        bottom: 0;
    }

    .header {
        font-family: Smythe, sans-serif;
        margin-bottom: 32px;
    }
    
    .header-text {
        font-size: 48px;
        font-weight: normal;
        margin: 0;
    }

    .text {
        font-size: 18px;
    }

    .link {
        color: #8ab4f8;

        &,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }
}