<header class="header">
    <h1 class="header-text">Welcome to the Mystery of the Three Bots</h1>
</header>
<img class="butler-image" src="assets/images/butler.png" />
<div class="text">
    <p>
        This simple dialog-based game is an example of using a machine-learning model inside of a web application. It is open sourced at
        <a class="link" target="_blank" href="https://github.com/google/mysteryofthreebots">https://github.com/google/mysteryofthreebots</a>.
    </p>
    <p>
        The model it uses is called Universal Sentence Encoder Lite and is available at
        <a class="link" target="_blank" href="https://tfhub.dev/google/universal-sentence-encoder-lite/2">Tensorflow Hub</a>.
    </p>
    <p>
        A helpful tool for creating dialog-based games is the Semantic Reactor, a Google Sheets Add-On that allows you to experiment with
        machine-learned language models. To learn more, go to the Google Cloud
        <a class="link" target="_blank" href="https://cloud.google.com/ai-workshop">AI Workshop Page</a>.
    </p>
    <p>
        To see this screen again, just reload the game in your browser. And now…on with the game!
    </p>
</div>
<app-dialog-close-button buttonText="Continue"></app-dialog-close-button>
