<div class="button-group">
    <button class="button" type="button" (click)="handleNotesClick()">
        Police Notes
    </button>
    <button class="button" type="button" (click)="handleMapClick()">
        Map
    </button>
    <button class="button" type="button" (click)="handleSolveClick()">
        Solve
    </button>
</div>
<div class="button-group button-group--help-how">
    <button class="button button--small" type="button" (click)="handleHelpClick()">
        Help
    </button>
    <button class="button button--small" type="button" (click)="handleHowClick()">
        How?
    </button>
</div>
