@import '../../styles/buttons';

:host {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
  
  .button-group {
    display: flex;

    &--help-how {
      position: absolute;
      right: 0;
    }
  }
  
}  