<div class="container">
    <h3 class="intro">
      MysteryBot was created using machine learning and natural language understanding.
      Here's how it works&hellip;
    </h3>
    <p>
      A deep-learning model, trained on billions of lines of conversation, enables players to
      talk to the robots through a technique called <strong>“semantic matching,”</strong>
      sometimes called <strong>“fuzzy matching.”</strong>
    </p>
    <p>
      The robots you interview in the game are actually made up of just <strong>200 or so
      pre-written conversation pairs.</strong> As the goal of the player is fixed (solve the
      mystery) the game writers anticipated the kinds of questions a player would ask. For
      example: “What did Miss Red do during dinner?” and “What container is in the Living
      Room?”
    </p>
    <p>
      However, players will often use different words to ask those same questions. For
      example: “Did Ms. Red act weird at dinner?” and “Any place to hide something in the
      Living Room?” This is where the NLU comes in.
    </p>
    <p>
      <strong>To create the illusion of open conversation, the model handles player queries by
      semantically matching them to a pre-written query.</strong> Essentially, the model
      says: “The player said this, and that’s pretty close in meaning to this anticipated
      query, so I’ll return that one.”
    </p>
    <p>
      <strong>
        Semantic matching is used in many digital personal assistants, customer service
        platforms and other applications. MysteryBot is a small example of how it might be
        used within a game.
      </strong>
    </p>
</div>
