:host {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 142px 170px;
    margin: 80px;

    .header-text {
        margin: 0;
        margin-bottom: 32px;
        font-family: Smythe, sans-serif;
        font-size: 48px;
        font-weight: normal;
    }

    .subheader {
        font-size: 24px;
        font-weight: normal;
    }
}