@import '../../styles/_buttons';

:host {
    font-family: Avenir, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    max-width: 90vw;
    background: #f0eff4;
    border-radius: 10px;
    padding: 65px;
    
    p:last-child {
        margin-bottom: 0;
    }
    
    .intro {
        font-size: 24px;
        font-weight: 900;
        margin-top: 0;
    }
}