<header class="header">
  <h1 class="header-text">
    How it works
  </h1>
</header>
<h2 class="subheader">
  The Mystery of the Three Bots was created using machine learning and Natural Language Understanding (NLU).
</h2>
<div class="content">
  <p>
    A deep-learning model, trained on billions of lines of conversation, enables
    players to talk to the robots through a technique called "semantic matching,"
    sometimes called "fuzzy matching."
  </p>
  <p>
    The robots you interview in the game are actually made up of just 200 or so
    pre-written conversation pairs. As the goal of the player is fixed (solve the
    mystery) the game writers anticipated the kinds of questions a player would ask.
    For example: “What did Miss Red do during dinner?” and “What container is in the
    Living Room?”
  </p>
  <p>
    However, players will often use different words to ask those same questions. For
    example: “Did Ms. Red act weird at dinner?” and “Any place to hide something in
    the Living Room?” This is where the NLU comes in.
  </p>
  <p>
    To create the illusion of open conversation, the model handles player queries by
    semantically matching them to a pre-written query. Essentially, the model says:
    "The player said this, and that’s pretty close in meaning to this anticipated query,
    so I’ll return that one."
  </p>
  <p>
    Semantic matching is used in many digital personal assistants, customer service
    platforms and other applications. The Mystery of the Three Bots is a small example of
    how it might be used within a game.
  </p>
</div>
<app-dialog-close-button></app-dialog-close-button>
