:host {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100%;

    .header-text {
        margin: 0;
        margin-bottom: 12px;
        font-family: Smythe, sans-serif;
        font-size: 48px;
        font-weight: normal;
    }

    .subheader {
        font-size: 24px;
        font-weight: normal;
    }

    .content {
        flex: 1;
        overflow: auto;
    }
}