.notebook {
    background-image: url(~/assets/images/notebook.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    display: flex;
    width: 90vw;
}

.notebook-page {
    padding: 95px;
    width: 50%;
}
