:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    position: relative;
    padding-bottom: 24px;
    
    &[data-bot-name]::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    &[data-bot-name="Chef"]::before {
        margin-top: -145px;
        background: url(../../assets/images/chef.png) no-repeat;
    }
    
    &[data-bot-name="Maid"]::before {
        margin-top: -140px;
        background: url(../../assets/images/maid.png) no-repeat;
    }
    
    &[data-bot-name="Butler"]::before {
        margin-top: -140px;
        background: url(../../assets/images/butler-fade.png) no-repeat;
    }

    &[data-bot-name]::before {
        background-size: 90%;
    }
    
    $padding: 10px;
    $font-size: 24px;
    $height: $font-size + $padding + $padding + 4;
    $background: #202124;
    $border-color: #3D4043;
    
    .bot-name {
        color: #fff;
        font-weight: 800;
        font-size: 24px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-self: flex-end;
        position: relative;
        height: $height;
        
        .name {
            padding: $padding;
            background: $background;
            border: 2px solid $border-color;
            border-left: none;
            border-bottom: none;
            height: 100%;
        }
        
        &::before,
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-top-color: transparent;
            border-left-color: transparent;
        }
        
        &::before {
            border-width: $height / 2;
            border-bottom-color: $border-color;
            border-right-color: $border-color;
        }
        
        
        &::after {
            border-width: $height / 2 - 1;
            border-bottom-color: $background;
            border-right-color: $background;
            position: absolute;
            left: 4px;
            top: 2px;
        }
    }
    
    @keyframes chat-frame-message-waiting {
        0% {
            opacity: 0.2;
        }
        
        20% {
            opacity: 1;
        }
        
        100% {
            opacity: 0.2;
        }
    }
    
    .message-container {
        background: rgba(0, 0, 0, 0.6);
        border: 2px solid #3c4043;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
    }
    
    .messages {
        margin-top: 60px;
        overflow-y: auto;
        flex: 1;

        &:not(.at-top) {
            mask-image: linear-gradient(to bottom, transparent 0%, black 10%);
        }

        &:not(.at-bottom) {
            mask-image: linear-gradient(to top, transparent 0%, black 10%);
        }

        &:not(.at-top):not(.at-bottom) {
            mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent);
        }
    }
    
    .messages,
    .input-container {
        z-index: 1;
    }
    
    .messages,
    .input {
        font-size: 16px;
        font-family: Roboto, serif;
    }
    
    .message-list {
        padding: 0;
        list-style-type: none;
    }
    
    .message {
        margin-bottom: 10px;
        overflow-wrap: anywhere;
        
        &--waiting {
            transform: scale(2);
        }
        
        &--waiting > span {
            animation: chat-frame-message-waiting 1.4s infinite;
            animation-fill-mode: both;
        }
        
        &--waiting > span:nth-child(2) {
            animation-delay: 0.2s;
        }
        
        &--waiting > span:nth-child(3) {
            animation-delay: 0.4s;
        }
        
        &__message-text {
            border-radius: 50px;
            padding: 10px 25px;
            display: inline-block;
            position: relative;
        }
        
        &__message-text .bubble-point {
            bottom: -10px;
            position: absolute;
        }
        
        &--bot {
            margin-right: 55px;
            
            .message__message-text {
                background-color: #fff;
                color: #000;
                
                .bubble-point {
                    color: #fff;
                    left: 25px;
                    transform: rotateY(180deg);
                }
            }
        }
        
        &--player {
            margin-left: 55px;
            text-align: right;
            
            .message__message-text {
                background-color: #2f80ed;
                color: #fff;
                
                .bubble-point {
                    color: #2f80ed;
                    right: 25px;
                }
                
            }
        }
    }
    
    .input-container {
        display: flex;
        z-index: 1;
    }
    
    .form {
        display: flex;
        width: 100%;
    }
    
    .input {
        border-radius: 5px;
        padding: 10px;
        flex: 1;
    }
    
    .send-question-button {
        font-size: 0;
        border: none;
        background: none;
        color: #fff;
    }
    
    .send-question-button:not([disabled]) {
        cursor: pointer;
    }
    
    .send-question-button::before {
        content: url(../../assets/images/send-message.svg);
    }
}
