:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    
    .map {
        height: 100%;
        max-width: 100%;
    }
}
