<p class="comm-link-open">
    Black Hat Investigations Secure
    <br />
    Communication Link Open
</p>
<h3 class="subject">
    RE: OPEN CASE: MacGuffin Diamond -- Stolen
</h3>

<p>
    <strong>
        Detective, your solution is incomplete. Your solution needs to contain all three
        elements:
    </strong>
</p>
<ol>
    <li>What suspect stole the diamond?</li>
    <li>In what room is the stolen diamond?</li>
    <li>In what object is the diamond hidden</li>
</ol>
<p>
    Did we hire the right person for this job?
</p>